{% extends 'base/base_auth.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">

            <div class="card-body">
                <div class="card-title">
                    <h4>Register for a free account</h4>
                </div>

                <form action="" method="POST">
                    <div class="mb-3">
                        <input type="text" name="username" id="usernameField" placeholder="Username"
                            class="form-control form-control-sm">
                    </div>
                    <div class="invalid-feedback" style="display:none">
                        <p></p>
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" id="emailField" placeholder="Email"
                            class="form-control form-control-sm" />
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" id="passwordField"
                            class="form-control form-control-sm" />
                        <div class="float-end pt-2">View Password</div>
                    </div>
                    <div class="d-grid mt-5">
                        <input type="submit" value="Register" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>/

<script src="{% static 'authentication/js/register.js' %}"></script>
{% endblock %}